.cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 17px;
    row-gap: 20px;
    flex-wrap: wrap;
}

@media all and (max-width: 962px) {
    .cards {
        column-gap: 25px;
        row-gap: 28px;
    }
}

@media all and (max-width: 671px) {
    .cards {
        row-gap: 20px;
    }
}
