.profile__edit-button {
    background-image: url(../../../images/profile/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: solid 1px #fff;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    transition: opacity .3s ease;
    padding: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media all and (max-width: 962px) {
    .profile__edit-button {
        margin-left: 16px;
    }
}
