.page {
    background-color: #000;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    position: relative;
}

@media all and (max-width: 962px) {
    .page {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media all and (max-width: 320px) {
    .page {
        padding: 0;
    }
}
