.cards__like {
    background-image: url(../../../images/elements/heart.svg);
    background-position: center;
    width: 22px;
    height: 19px;
    margin-left: auto;
    transition: opacity .3s ease;
}

.cards__like:hover {
    opacity: 0.5;
    cursor: pointer;
}
