.form__input {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:last-of-type {
    margin-bottom: 48px;
}

.form__input:first-of-type {
    margin-bottom: 30px;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}
