.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    position: relative;
    align-items: baseline;
}

@media all and (max-width: 962px) {
    .profile__info {
        justify-content: center;
        margin-bottom: 36px;
    }
}
