.form__close-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    background-image: url(../../../images/form/close.svg);
    background-position: center;
    transition: opacity .3s ease;
}

.form__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media all and (max-width: 654px) {
    .form__close-button {
        top: -48px;
        right: 0;
    }
}
