.footer {
    padding-bottom: 60px;
}

@media all and (max-width: 654px) {
    .footer {
        padding-bottom: 36px;
        text-align: center;
        max-width: 320px;
    }
}

@media all and (max-width: 320px) {
    .footer {
        text-align: left;
    }
}
